/* Setup */

html {
    color: #431C5D;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
*, *:after, *:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
textarea {
    resize: vertical;
}

/* Comment out text below to restore visible scrollbars! */
::-webkit-scrollbar { 
    display: none; 
}






/* Grid System */

[class*='col-'] {
    float: left;
    padding-right: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
.grid-pad {
    padding: 20px 0 20px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}
.col-1-8 { /* 1/8 Width Column */
    width: 12.5%;
}
.col-1-4 { /* 1/4 Width Column */
    width: 25%;
}
.col-1-3 { /* 1/3 Width Column */
    width: 33.33%;
}
.col-1-2 { /* 1/2 Width Column */
    width: 50%;
}
.col-2-3 { /* 2/3 Width Column */
    width: 66.66%;
}
.col-1 { /* Whole Width Column */
    width: 100%;
}
.grid:after {
    clear: both;
    content: "";
    display: table;
}





/* Structural Elements */


/* Using sections with the class 'page' attached will give you (roughly) full page
    elements to put your content in. The first/last-of-type prevents the first/last sections
    on the page from skewing */
section.page {
    float: left;
    padding-bottom: 28vh;
    padding-top: 28vh;
}

section.page:first-of-type {
    padding-top: 35vh;
}

section.page:last-of-type {
    padding-bottom: 35vh;
}

.container-right-skew {
    margin-left: 15vw;
    margin-right: 5vw;
    overflow: scroll;
    padding-left: 5vw;
    padding-right: 20vw;
    width: 85vw;
}

.container-left-skew {
    margin-left: 5vw;
    margin-right: 15vw;
    overflow: scroll;
    padding-left: 10vw;
    padding-right: 15vw;
    width: 85vw;
}

.container-centered {
    height: 100vh;
    margin-left: 15vw;
    margin-right: 15vw;
}





/* Image Effects */

/* circular images
    requires square image - crop online at http://croppola.com/ */

.circular-square {
    border-radius: 50%;
    height: 35vmin;
    shape-outside: circle(50%);
    width: 35vmin;
}

.styled-image {
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    border-color: #000000;
    border-radius: 1%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    height: 35vmin;
    width: 35vmin;
}




/* Backgrounds */

/* generated background patterns:
    -use for color backgrounds, not with images
    -change the hex values consistently (e.g. find 
        all #E3EB26 values in the same {} block and
        change them to the color of your choice :D */
    
.polka-dot-bg {
    background-color:#001;
    background-image: radial-gradient(white 15%, transparent 16%), 
        radial-gradient(white 15%, transparent 16%);
    background-size:60px 60px;
    background-position: 0 0, 30px 30px;
}


.plus-bg {
    background: radial-gradient(circle, transparent 20%, #E3EB26 20%, #E3EB26 80%, transparent 80%, transparent),
        radial-gradient(circle, transparent 20%, #E3EB26 20%, #E3EB26 80%, transparent 80%, transparent) 50px 50px,
        linear-gradient(#D9E024 8px, transparent 8px) 0 -4px,
        linear-gradient(90deg, #D9E024 8px, transparent 8px) -4px 0;
    background-color: #E3EB26;
    background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}


.arrows-bg {
    background:
        linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
        linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
        linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px;
}


.stars-bg {
    background:
        linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
        linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
        linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
        linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
        linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
        linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

        linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
        linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
        linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
        linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
        linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
        linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
    background-color: #232927;
    background-size: 100px 100px;
}


/* fullscreen background image */

.image-background {
    background-color: #DD7F77;
    background-image: url(../images/stock-images/pink-smoke-suitcase.jpg);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    z-index: -2;
}
@media all and (orientation: portrait) {
    .image-background {
        -moz-background-size: auto cover;
        -o-background-size: auto cover;
        -webkit-background-size: auto cover;
        background-position: 50% 0%;
        background-size: auto cover;
    }
}
@media all and (orientation: landscape) {
    .image-background {
        -moz-background-size: cover auto;
        -o-background-size: cover auto;
        -webkit-background-size: cover auto;
        background-position: 50% 25%;
        background-size: cover auto;
    }
}

/* solid background color */
.solid-background {
    background-color: #E9ECE5;
    z-index: -2;
}

/* repeating pattern overlay over image or solid color */
[class*='-background'] > .overlay {
    background-image: url(../images/patterns/crossed-squares.png);
    background-repeat: repeat;
    height: 105vh;
    left: -5vw;
    margin: 0px;
    position: absolute;
    top: -5vh;
    width: 105vw;
    z-index: -1;
}



/* Social Links Sidebar */
/* You can find other icons to use at http://fontawesome.io/icons/ ; just replace the icon name
    in the HTML with the name of the icon you would like to use! */

.social-links-left {
    position: fixed;
    z-index: 3;
    height: 100vh;
    left: 0px;
    width: 5vw;
}
.social-links-left > a {
    float: left;
    text-align: center;
    height: 25vh;
    line-height: 25vh;
    width: 10vw;
    clear: both;
}

.social-links-right {
    position: fixed;
    z-index: 3;
    height: 100vh;
    right: 0px;
    width: 5vw;
}
.social-links-right > a {
    float: right;
    text-align: center;
    height: 25vh;
    line-height: 25vh;
    width: 10vw;
    clear: both;
}

.social-links-row {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap: nowrap;
    -webkit-align-content: stretch; /* Safari */
    align-content: stretch;
    -webkit-justify-content: space-between; /* Safari */
    justify-content: space-between; /* Change to space-around for centered links, instead of justified links */
}
